:root {
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;

}

.menu-bar {
  background-color: #5DADE2;
  color: white;
  padding: 5px 0px 5px 20px;
  position: relative;
  }

.header-content {
  background-color: #E5E7E9;
  color: #626567;
  padding: 1px 12px 12px 12px;
  margin: 20px;
}
.blue-text {
  color: #71A4CE;
}
.content {
  padding: 10px;
  margin: 0px 20px 5px 20px

}
.orange-footer {
  color: white;
  background-color: #EB984E;
  padding: 2px;
}
.nav-option-one {
  font-size: 20px;
  position: absolute;
  left: 34%;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(0%,-50%);
}
.nav-option-two {
  font-size: 20px;
  position: absolute;
  left: 46%;
  top: 50%;
  transform: translateY(-50%);
}
.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.article-box{
  background-color: #E5E7E9;
  padding: 40px 25px 40px 25px;
  margin: 20px;
  width: 200px;
  height: 100px;
  text-align: center;
}
